html, body {
    background-color: darkred;
}

.lt-link {
    background: orange;
}

.lt-link:hover {
    background: white;
    color: black;
}

.lt-music-progress {
    background-color: #852024;
}

.MuiLinearProgress-bar1Determinate {
    background-color: #de2d32;
}