html, body {
    background: linear-gradient(90deg, darkgreen 0%, lightgreen 100%);
    height: 100%;
    background-repeat: repeat-y;
    background-size: auto;
}

.lt-link {
    background: white;
    color: black;
}

.lt-link:hover {
    cursor: pointer;
    background: black;
    color: white;
}