html, body {
    background-color: darkred;
}

.lt-link {
    background: orange;
}

.lt-link:hover {
    background: white;
    border-color: black;
    color: black;
    border-width: 2px;
    border-style: solid;
}