.xs-icon {
    margin: 5px;
    height: 25px;
    width: 25px;
    padding: 0 10px 0 10px;
}

.s-icon {
    margin: 5px;
    height: 50px;
    width: 50px;
}

.m-icon {
    margin: 10px;
    height: 70px;
    width: 70px;
}

.l-icon {
    margin: 20px;
    height: 100px;
    width: 100px;
}

.xl-icon {
    margin: 20px;
    height: 150px;
    width: 150px;
}