.link-drawer-open {
    display: block;
    width: 80%;
    margin: 0 auto;
    background-color: #f7f7f7;
    position: relative;
    bottom: 20px;
    border-radius: 10px;
}

.link-shows-drawer>div {
    border-bottom: 1px solid lightgray;
    margin: 5px 0;
    width: 100%;
}

.link-shows-drawer a:visited {
    text-decoration: none;
}

.link-drawer-closed {
    display: none;
}

.lt-shows-drawer .lt-show-item {
    width: 100%
}
